<li class="logo">
  <a href="#" id="logo-container" class="brand-logo">
    <img class="img-logo" src="./assets/icons/icon-512x512.png" alt="logo" />
  </a>
</li>
<li><a class="waves-effect" href="#home">Champions</a></li>
<li>
  <a class="waves-effect" onclick="getLeague(2021)" href="#premier-league"
    >Premier League</a
  >
</li>
<li>
  <a class="waves-effect" onclick="getLeague(2002)" href="#bundesleague"
    >BundesLeague</a
  >
</li>
<li>
  <a class="waves-effect" onclick="getLeague(2003)" href="#eredivisie"
    >Eredivisie</a
  >
</li>
<li>
  <a class="waves-effect" onclick="getLeague(2014)" href="#laliga">La Liga</a>
</li>
<li>
  <a class="waves-effect" onclick="getLeague(2015)" href="#league-1"
    >League 1</a
  >
</li>
<li><a class="waves-effect" onclick="getLeague()" href="#saved">Saved</a></li>
